#modal-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: collapse;
}

#modal-window.active {
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
}

#modal-window.active button {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 80px;
    background: transparent;
    outline: none;
    border: none;
}

#modal-window.active button:hover {
    cursor: pointer;
}
